<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
<groups>
<run>
<include name="Smoke"/>
</run>
</groups>

    <classes>
      <class name="testngpractise.day4"/>
      <class name="testngpractise.day3"/>
      <class name="testngpractise.day2"/>
      <class name="testngpractise.t1"/>
      <class name="testngpractise.day1"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
